<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of flights</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css" media="screen" />
</head>
<body>
  <nav class="navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Find the plane</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown active">
          <a class="nav-link dropbtn" href="/flights" >Flights</a>
          <div class="dropdown-content">
            <a href="lowflights">Low Flights</a>
            <a href="highflights">High Flights</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/map">Map</a>
        </li>
      </ul>
    </div>

</nav>
<div class="container">
  <!-- <ul class="list-group" th:each="flight : ${name}">
    <li class="list-group-item list-group-item-dark" th:text="${flight}"></li>
  </ul> -->
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Origin Country</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
        <th scope="col">Altitude</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="flight: ${name}">
          <td scope="row" th:text="${flight.id}" />
          <td scope="row" th:text="${flight.country}" />
          <td scope="row" th:text="${flight.lat}" />
          <td scope="row" th:text="${flight.lon}" />
          <td scope="row" th:text="${flight.altitude}" />
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>
