<!DOCTYPE HTML>
<html>
<head>
    <title>Find The Plane</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css" media="screen" />
</head>
<body>
  <nav class="navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Find the plane</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropbtn" href="/flights" >Flights</a>
          <div class="dropdown-content">
            <a href="lowflights">Low Flights</a>
            <a href="highflights">High Flights</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/map">Map</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h3>Find all the planes flying over the UK and Ireland.</h3>
  </div>
    <!-- <p>Get your bitcoin price <a href="/bitcoin">here</a></p>
    <p>Compare with previous prices <a href="/history">here</a></p> -->
  </body>
</html>
